<%= div_for @option do %>
  <%= link_to 'x', @option, method: :delete,   remote: :true %>
  <h1>Option <%= @option.id %> </h1>
  <div class='items'>
  </div>
  <button id='add_item_button'>Add Items</button>
  <%= render :partial => 'items/new'%>
<% end %>

