<% if @results == [] %>

  <div class='no_results'>
    <span class='no_results_message'>Sorry, but no results match that keyword</span>
  </div>

<% else %>

  <% @results.each do |result_hash| %>
    <div class='search_result'>
      <span class='result_name'><%= result_hash[:name] %> </span>
      <span class='result_abv'> <%= result_hash[:abv] %>% abv </span>
      <span class='result_price'> $<%= result_hash[:price] %> </span>
    </div>
  <% end %>

<% end %>

<div class='cancel_search'>
  <span>Cancel Search</span>
</div>