<div class='results'>
  <table>
    <% @results.each do |result_hash| %>
      <tr>
        <td> <%= result_hash[:name] %> </td>
        <td> <%= result_hash[:abv] %>%</td>
      </tr>
    <% end %>
  </table>
</div>