body {
  margin:0;
  background: #E6EAE6;
}

#header {
  width: 100%;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.8);

  h1 {
    font-size: 75px;
    color: white;
    text-shadow: 5px 5px 5px black;
    vertical-align: middle;
    margin: 0;
    font-family: 'Indie Flower', cursive;
  }

  h2 {
    margin: 0;
  }
}
