#main {
  width: 80%;
  min-width: 960px;
  margin: 10px auto;

  .new_item_form_div{
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px 0px;
    background-color: #19680C;
    display: none;
  }

  .user_input {
    width: 90%;
    margin: 5px auto;
  }

  form {
    select, input {
      width: 90%;
    }

    .submit {
      margin-top: 10px;
    }
  }

  #add_option_button {
    width: 100%;
    border: none;
    margin: 5px auto;
  }

  .option {
    color: #052101;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;

    .items {
      .item {
        background: #E6EAE6;
        padding: 5px;
        margin: 5px auto;
        display: none;
      }
    }

    #add_item_button {
      width: 100%;
      border: none;
      margin: 5px auto;
    }
  }
}