#main {
  width: 80%;
  min-width: 960px;
  margin: 10px auto;
  text-align: center;

  .new_item_form_div{
    color: white;
    border-radius: 2px;
    font-size: 12px;
    padding: 5px 0px;
    background-color: #19680C;
    display: none;
  }

  .user_input {
    width: 90%;
    margin: 5px auto;
  }

  form {
    select, input {
      width: 90%;
    }

    .submit {
      margin-top: 10px;
    }
  }

  #add_option_button {
    width: 20%;
    border: none;
    margin: 5px auto;
  }

  #options_div{
    text-align: center;
    margin: 0 auto;
    .option {
      color: #052101;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 2px 2px 5px black;
      width: 20%;
      padding: 1%;
      text-align: center;
      margin: 1% ;
      /*display: inline-table;*/
      float: left;
      width: 90%;
      display: none;
      transition: all 0.2s;

      .items {
        .item {
          background: #E6EAE6;
          padding: 5px;
          margin: 5px auto;
          display: none;
        }
      }

      #add_item_button {
        width: 100%;
        border: none;
        margin: 5px auto;
      }
    }
  }
}