<section id='beer_images'>
  <% 20.times do %>
    <%= image_tag('beer_glass_lg.png', :class => 'beer_glass_lg') %>
    <%= image_tag('beer_glass_mg.png', :class => 'beer_glass_mg') %>
    <%= image_tag('beer_glass_dg.png', :class => 'beer_glass_dg') %>
  <% end %>
</section>